Your payment had been credited, 
{{#if packageComplete}}
the travel bank and withdrawal pdf will automatically download if not click <a href="">here</a>. 
{{/if}}
Kindly click <a href="/direct-referral-L2">here</a> for next step