<body>
    <div class="container">
        <div class="row text-center pad-top ">
            
        </div>
         <div class="row text-center pad-top">
               <div class="col-md-2 col-sm-0 col-xs-0">
                      
                    </div>
             <div class="col-md-8 col-sm-12 col-xs-12">
                      <div class="alert alert-warning text-center">
                          <h4> Verify Your Email Address</h4> 
                          <hr />
                            <i class="fa fa-warning fa-4x"></i>
                          <p>
                         Please check on the link that has been sent to your email account to verify your email and continue your membership process.
                        </p>
                          <hr />
                          <h4 style="color: red;" class="text-danger">{{error}}</h4>
                        </div>
                        {{{link}}}
                    </div>
              <div class="col-md-2 col-sm-0 col-xs-0">
                      
                    </div>
        </div>
    </div>
   
</body>
